main.main-content
    div.fullwidth-block.inner-content
        div.container
            div.row
                div.col-md-7
                    div.content
                        h2.entry-title Our History
                        figure.featured-image
                            img(src="images/qe_about.jpg" alt="Our history")
                        p.leading We are a Classic Rock Band focused on bringIng back the sounds of Rock from the 80's, 90's and also play more recent rock songs.
                        
                        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.

                        p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                div.col-md-4.col-md-push-1
                    aside.sidebar
                        div.widget
                            h3.widget-title Band Members
                            ul.discography-list
                                li
                                    figure.cover
                                        img(src="images/bass_crop.jpg" alt="thumbnail 1")
                                    div.detail
                                        h3
                                            a(href="#") Bass Guitarist
                                        span.year Bass Guitar
                                li
                                    figure.cover
                                        img(src="images/craig.jpg" alt="thumbnail 2")
                                    div.detail
                                        h3
                                            a(href="#") Craig Haywood
                                        span.year Keyboards and Vocals
                                li
                                    figure.cover
                                        img(src="images/tony.jpg" alt="thumbnail 3")
                                    div.detail
                                        h3
                                            a(href="#") Tony Ross
                                        span.year Lead Guitar and Vocals
                                li
                                    figure.cover
                                        img(src="images/drums_crop.jpg" alt="thumbnail 4")
                                    div.detail
                                        h3
                                            a(href="#") Drummer
                                        span.year Drums
                                li
                                    figure.cover
                                        img(src="images/mike_crop.jpg" alt="thumbnail 5")
                                    div.detail
                                        h3
                                            a(href="#") Mike Patterson
                                        span.year Lead Vocals