main.main-content
    div.fullwidth-block.inner-content
        div.container
            h2.page-title Contact Us
            div.row
                div.col-md-6
                    form(action="#" class="contact-form")
                        input(type="text" placeholder="Your name..")
                        input(type="text" placeholder="Email Address..")
                        input(type="text" placeholder="Website...")
                        textarea(name="#" placeholder="Message...")
                        input(type="submit" value="Send message")
                div.col-md-6
                    div.map-wrapper
                        div.map
                        iframe(src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=325&amp;wkst=1&amp;bgcolor=%23c0c0c0&amp;src=oocohqn81f04bpg9149akjg92k%40group.calendar.google.com&amp;color=%23865A5A&amp;ctz=America%2FNew_York" style="border-width:0" width="555" height="325" frameborder="0" scrolling="no")
                        address
                            div.row
                                div.col-sm-6
                                    Quick Exit
                                div.col-sm-6
                                    a(href="mailto:contact@quickexit.com") contact@quickexit.com #[br]#[br] 
                                    a(href="tel:7248831237") (724) 883 1237