footer.site-footer
    div.container
        img(src="images/logo2_corner.png" alt="Quick Exit")
        address
            a(href="tel:7248831237") Call (724) 883-1237 #[br]#[br] 
            a(href="mailto:info@bandname.com") info@bandname.com 
        div.social-links
            a(href="https://www.facebook.com/Quick-Exit-Rock-1574295912842404/")
                i.fa.fa-facebook-square
            a(href="#")
                i.fa.fa-twitter
    div.row
        div.col-xs-4
            p &copy; 2017 Quick Exit
        div.col-xs-4
            
        div.col-xs-4
            p.text-center powered by 
                a(href="https://www.smellydogcoding.com") McNeil Squared
