header.site-header
    div.container
        a#branding(href="")
            img(src="images/logo2_corner.png" alt="Quick Exit")
            small.site-description Nothin' but a good time ...
        nav.main-navigation
            button.toggle-menu(type="button") 
                i.fa.fa-bars
            ul.menu
                li.menu-item.current-menu-item
                    a(href="/index") Home
                li.menu-item
                    a(href="/about") About
                li.menu-item
                    a(href="/gallery") Gallery
                li.menu-item
                    a(href="/contact") Contact
        div.mobile-menu