div.hero
    div.slider
        ul.slides
            li.lazy-bg(data-background="images/cover4bw.png")
                div.container
                    h2.slide-title The 80's called..
                    h3.slide-subtitle And we answered
                    p.slide-desc All your favorite party songs from the 70's, 80's, and 90's.
                    a.button.cut-corner(href="#event") Upcoming Events