div.fullwidth-block.upcoming-event-section(data-bg-color="#191919")
    div.container
        header.section-header
            a(name="event")
            h2.section-title Upcoming events
            div.event-nav
                a.prev#event-prev(href="#")
                    i.fa.fa-caret-left
                a.next#event-next(href="#")
                    i.fa.fa-caret-right
        div.event-carousel
            div.event
                div.entry-date
                    div.date 15
                    span.month Oct
                h2.entry-title
                    a(href="#") Greensburg Glassworks
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid temporibus quos aspernatur
            div.event
                div.entry-date
                    div.date 15
                    span.month Oct
                h2.entry-title
                    a(href="#") Greensburg Glassworks
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid temporibus quos aspernatur
            div.event
                div.entry-date
                    div.date 15
                    span.month Oct
                h2.entry-title
                    a(href="#") Greensburg Glassworks
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid temporibus quos aspernatur
            div.event
                div.entry-date
                    div.date 15
                    span.month Oct
                h2.entry-title
                    a(href="#") Greensburg Glassworks
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid temporibus quos aspernatur
            div.event
                div.entry-date
                    div.date 15
                    span.month Oct
                h2.entry-title
                    a(href="#") Greensburg Glassworks
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid temporibus quos aspernatur