include ./partials/_head.pug
body.header-collapse
    div#site-content
        include ./partials/_header.pug
        include ./partials/_hero.pug
        include ./partials/_upcomingEvents.pug
        include ./partials/_scripts.pug
        include ./partials/_footer.pug